<div class="ndOutofDelivery">
  <mat-card>
    <div class="row">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-t-5 p-b-5">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-11 col-xs-11 p-t-5 p-b-5">
        Ashok
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-t-5 p-b-5">
        <span><em>3 hours 20 mins left  </em></span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <button mat-raised-button color="accent">Show details</button>
        <mat-icon aria-label="Example icon-button with a heart icon">
          <i class="glyphicon glyphicon-shopping-cart pull-right p-t-5 p-b-5"></i>
        </mat-icon>
      </div>
    </div>   
  </mat-card>
  <mat-card>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-t-5 p-b-5">
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-11 col-xs-11 p-t-5 p-b-5">
          Selvam
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-t-5 p-b-5">
          <span><em>1 hour left  </em></span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <button mat-raised-button color="accent">Show details</button>
          <mat-icon aria-label="Example icon-button with a heart icon">
            <i style="color:red" class="glyphicon  glyphicon-exclamation-sign pull-right p-t-5 p-b-5"></i>
          </mat-icon>
        </div>
      </div>   
    </mat-card>
    <mat-card>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-t-5 p-b-5">
            <mat-checkbox></mat-checkbox>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-11 col-xs-11 p-t-5 p-b-5">
            Ashok
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-t-5 p-b-5">
            <span><em>3 hours 20 mins left  </em></span>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <button mat-raised-button color="accent">Show details</button>
            <mat-icon aria-label="Example icon-button with a heart icon">
              <i class="glyphicon glyphicon-shopping-cart pull-right p-t-5 p-b-5"></i>
            </mat-icon>
          </div>
        </div>   
      </mat-card>
      <mat-card>
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 p-t-5 p-b-5">
              <mat-checkbox></mat-checkbox>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-11 col-xs-11 p-t-5 p-b-5">
              Selvam
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-t-5 p-b-5">
              <span><em>1 hour left  </em></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <button mat-raised-button color="accent" class="p-t-5 p-b-5">Show details</button>
              <mat-icon aria-label="Example icon-button with a heart icon">
                <i style="color:red" class="glyphicon  glyphicon-exclamation-sign pull-right p-t-5 p-b-5"></i>
              </mat-icon>
            </div>
          </div>   
        </mat-card>
</div>
  
  