
<h1>Delivery Person</h1>
<table class="table table-striped m-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Remaining Order</th>
                <th>Edit/Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>9564545454</td>
                <td>2</td>
                <td>Remove</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>7842158694</td>
                <td>0</td>
                <td>Remove</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>8964120154</td>
                <td>1</td>
                <td>Remove</td>
            </tr>
        </tbody>
    </table>

   
  
 
